#userEdit {
	max-width: 300px;
	margin: 5% auto;
	background-color: white;
	padding: 10px 20px 30px;
}

#userEdit .title {
	text-transform: uppercase;
	font-size: 1.2rem;
	text-align: center;
}

#userEdit label {
	display: block;
	font-size: 1.1rem;
}

#userEdit input {
	padding: 8px 10px;
	margin-bottom: 10px;
	margin-top: 4px;
	width: 90%;
	background-color: gainsboro;
	border: none;
}

#userEdit input:focus {
	outline: none;
	border: none;
}

#userEdit .submit {
	border: none;
	padding: 8px 20px;
	background-color: black;
	color: white;
	margin-bottom: 15px;
}

#userEdit .checkbox {
	width: fit-content;
	margin: 10px 0px;
}

#userEdit .checkbox label {
	display: inline;
}

#userEdit .checkbox input {
	width: min-content;
}
